<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SSI QUIZ</title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Quiz POC (score {{score}}) | Slide {{active+1}}</h1>
					<hr>
				</div>
			</div>

			<div v-if="active==index" v-for="(q, index) in questions" class="row">
				<div class="col-md-6 offset-md-3 tac">
					<h2>{{q.title}}</h2>
					<p>{{q.desc}}</p>
					
					<!-- SINGLE ANSWERS -->
					<div v-if="q.type == 'single'" class="btn-group">
						<button v-for="a in q.answers" @click="singleScore(index,a.value)" class="btn btn-default">{{a.answer}}</button>
					</div>

					<!-- MULTI ANSWERS -->
					<div v-if="q.type == 'multi'" class="input-group tac">
						<div v-for="(a, ai) in q.answers" class="checkbox mr15">
							<label>
								<input type="checkbox" :value="a" v-model="q.options" @change="multiScore(q)"> {{a.answer}}
							</label>
						</div>
						<div>
							<button @click="active++" class="btn btn-default fr">Next</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<script src="js/app.js"></script>
</body>
</html>